body {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-size: 18px;
    letter-spacing: 2px;
}
#hero-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
}
.bio {
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color:black;
    line-height: 1.6;
    margin: 10px 0;
    padding: 10px;
    background-color: #eaf6fb;
    border-left: 4px solid #c0392b;
}
.description {
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    color: black;
    margin: 10px 0;
}
.contact-button {
    background-color: red; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.contact-button:hover {
    background-color: greenyellow; 
}

footer {
    text-align: center;

    margin-top: 20px;
    color: gray;
}
